<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <!-- Connection settings -->
<!--         <property name="hibernate.connection.driver_class">org.postgresql.Driver</property> -->
<!--         <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/portal</property> -->
<!--         <property name="hibernate.connection.username">portal</property> -->
<!--         <property name="hibernate.connection.password">portal</property> -->
<!--         <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property> -->
 
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
 
        <!-- Drop and re-create all database on startup -->
        <property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.hbm2ddl.import_files">import.sql</property>
 
        <!-- Annotated entity classes -->
        <mapping class="portal.model.Cluster"/>
        <mapping class="portal.model.Director"/>
        <mapping class="portal.model.Gebruiker"/>
        <mapping class="portal.model.Graphite"/>
        <mapping class="portal.model.Rol"/>
        
    </session-factory>
</hibernate-configuration>